@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000;
    --foreground: #030712;
    --card: #c4b3b3;
    --card-foreground: #030712;
    --popover: #c4b3b3;
    --popover-foreground: #030712;
    --primary: #111827;
    --primary-foreground: #f9fafb;
    --secondary: #f3f4f6;
    --secondary-foreground: #111827;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #f3f4f6;
    --accent-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #030712;
    --radius: 0.5rem;
  }

  .dark {
    --background: #030712;
    --foreground: #f9fafb;
    --card: #2e4da1;
    --card-foreground: #f9fafb;
    --popover: #030712;
    --popover-foreground: #f9fafb;
    --primary: #f9fafb;
    --primary-foreground: #111827;
    --secondary: #f9fafb;
    --secondary-foreground: #f9fafb;
    --muted: #1f2937;
    --muted-foreground: #9ca3af;
    --accent: #1f2937;
    --accent-foreground: #f9fafb;
    --destructive: #7f1d1d;
    --destructive-foreground: #f9fafb;
    --border: #1f2937;
    --input: #1f2937;
    --ring: #d1d5db;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
